* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    color: #FFF;
    text-shadow: 1px 1px 4px #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}